@{
    ViewData["Title"] = "Disco";
}             
             
@if(@ViewBag.ResultadoJuego)
{
    <h2 class= "Ganaste">¡Ganaste!</h2>
    <img src="~/Imagenes/Ganaste.gif">
} else
{
    <h2 class="Perdiste">Perdiste..</h2>
    <img src="~/Imagenes/Perdiste.gif">
}

<h5>Palabra: @ViewBag.PalabraOculta</h5>

<div class="LetrasBienyMal">
    <h5>Letras Utilizadas:</h5>
    @foreach(char letra in ViewBag.LetrasUsadasBien){
        <p class="LetraUsadaMl"> @letra </p>
    }
    @foreach(char letra in ViewBag.LetrasUsadasMal){
        <p class="LetraUsadaBn"> @letra </p>
    }
</div>

<h5>Intentos: @ViewBag.Intentos</h5>

 <a href='@Url.Action("Index", "Home")' id="BotonComienzo">Volver a Jugar</a>
