@{
    ViewData["Title"] = "Disco";
}             
             
@if(@ViewBag.ResultadoJuego)
{
    <h2>¡Ganaste!</h1>
    <img src="Imagenes\Ganaste.gif">
} else
{
    <h2>Perdiste..</h1>
    <img src="Imagenes\Perdiste.gif">
}

<h4>Palabra: @ViewBag.PalabraOculta</h4>

<div>
    <h5>Letras Utilizadas:</h5>
    <p></p>
</div>

<h6>Intentos: @ViewBag.Intentos</h6>