@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>¡Juega al Ahorcado!</h1>
    <a href='@Url.Action("IniciarJuego", "Home")' id="BotonComienzo">Presiona aquí para jugar</a>
</div>

<section>
    <img src="~/Imagenes/Meme3.png">
</section>